html {
  text-align: center;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

div {
  display: block;
}

header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  width: 100%;
  height: 200px;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1;
}

.first {
  font-family: Helvetica;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
}

.first h1 {
  font-size: 70px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 100px;
}

.first ul {
  display: flex;
  list-style: none;
  float: right;
  margin: auto;
  margin-right: 0;
}

.first li {
  padding-right: 10px;
}

a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  height: 300px;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid black;
  margin-right: 40px;
  padding: 5px;
}

.item img {
  height: 50px;
  margin-top: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
    height-min: 250px;
}

.items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid black;
  margin-right: 40px;
  padding: 0 20px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.little {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  margin: 30px -10px;
}

.little h3 {
  color: white;
}

h4 {
  font-size: 11px;
  font-weight: normal;
}

.footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}
